bots/telegram_basic_bot/chatbot_telegram.json
{
  "name": "Chatbot Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "26e48a8e-61cf-4240-9981-fa7c4ba7faed",
      "name": "Telegram Trigger",
      "webhookId": "72418c3b-f1c4-4c98-9549-490d937705b0",
      "credentials": {
        "telegramApi": {
          "id": "9o0qmZLkpGXaSsPq",
          "name": "n8nAcademyBot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Toma de contexto temporal la fecha de hoy que es {{ $now.format('yyyy-MM-dd') }}\n\nEres un chatbot especializado en buscar noticias del mundo del motor. Tu conocimiento abarca temas como automovilismo, motocicletas, lanzamientos de nuevos modelos, avances tecnológicos en motores y eventos deportivos del motor (F1, MotoGP, etc.). Tienes acceso a internet a través de SerpAPI para obtener información actualizada.\n\nTu tarea es buscar y proporcionar noticias relevantes del mundo del motor de forma precisa y confiable. No respondas preguntas fuera de este tema. Si no encuentras información o un enlace está roto, prueba a volver a buscar con terminos diferentes.\n\n- Comienza con un breve resumen de la noticia encontrada.\n- Siempre que te pidan noticias devuelvelas con el enlace asociado de la fuente.\n- NUNCA te inventes los enlaces (siempre enlaces validos)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "dc726b31-9f63-49ca-b18c-e342395ee167",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        60,
        240
      ],
      "id": "732ca4aa-3bab-4934-9f61-423be357a891",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YAB9aXvSyYRJ4h4u",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "tableName": "chatbot_telegram"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        240,
        280
      ],
      "id": "39428b43-24e2-491a-a064-2d23044c2637",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "uf8tgxKTL6XOS5ja",
          "name": "PostgresInterno"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        480,
        260
      ],
      "id": "ab08020e-b6e9-4def-950a-6b685423baf5",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "1lIjWdkuU3DMCUnB",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "aa2b52fe-5f8e-43c2-aa16-2307eecf4dce",
      "name": "Telegram",
      "credentials": {
        "telegramApi": {
          "id": "9o0qmZLkpGXaSsPq",
          "name": "n8nAcademyBot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "19e637ee-fe63-4393-94e6-6eaada110973",
  "meta": {
    "instanceId": "35a1948850f9a6bc147706cde48f1fd24bb726cba79bbc66cdf3a258904b6356"
  },
  "id": "8CV6ekS02iIt7Wpd",
  "tags": []
}